/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #333333;
/*  background-color: #a8a8a8;*/
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 5px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 90%;
}

/* sidebar */

sidebar {
  position: fixed;
}

/* Pad anchor to adjust for navbar */

a[id] {
  padding-top: 50px;
  margin-top: -40px;
  display: inline-block; /* required for webkit browsers */
}

.btn-custom {
    width:135px;
    height:30px;
}
